:root {
    --font-primary: #000000; 
    --main: #495464;
    --secondary1: #BBBFCA;
    --secondary2: #F4F4F4;
    --secondary3: #E8E8E8;
  }
  
  
  html {
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-primary)
  }
  h1 {
    font-family: Montserrat, sans-serif;
  }
  p {
    font-family: Courier-new
  }
  body {
    margin: 0;
    padding: 0;
  }
  
  #content {
    width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
    font-family: Montserrat;
  }
  .section-wrapper {
    padding: 10px;
    min-height: 70%;
    height: fit-content;
    width: 80%;
    box-shadow: 0 0 5px 0 var(--main);
    border-radius: 5px;
    background: linear-gradient( 90deg,  
     var(--secondary3),
     var(--secondary2) 20%,
     var(--secondary2) 80%,
     var(--secondary3));
    margin: 0 auto;
    z-index: 1;
    transition: 0.2s ease-in 0ms;
  }
  .section-wrapper:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px 5px var(--main);
    z-index: 1;
    transition: 0.2s ease-in 0ms;
  }
  section {
    height: 100vh;
    padding-top: 125px;
    text-align: center;
    display: flex;
  }
  #welcome-section{
    background: linear-gradient(
      var(--secondary1),
      var(--secondary1) 60%, 
      var(--main));
  }
  #projects {
      background: linear-gradient(
      var(--main),
      var(--main) 60%, 
      var(--secondary3));
  }
  #skills {
      background: linear-gradient(
      var(--secondary3),
      var(--secondary3) 60%, 
      var(--main));
  }
  #about {
      background: linear-gradient(
      var(--main),
      var(--secondary1) 60%, 
      var(--secondary1));
  }
  #links {
      background: linear-gradient(
      var(--secondary1),
      var(--secondary2) 60%, 
      var(--secondary2));
  }
  footer {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 0 15px 0 15px;
    text-align: right;
    background-color: var(--main);
    height: 100px;
    overflow: hidden;
    box-shadow: 0 0 10px 3px black;
    color: var(--secondary2);
    margin-top: -20px;
    z-index: 2;
  }
  
  header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 3px black;
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 2;
    background: linear-gradient( 90deg,  
     var(--secondary3),
     var(--secondary2) 20%,
     var(--secondary2) 80%,
     var(--secondary3));
  }
  
  #navbar {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  #navbar a {
    padding: 20px;
    transition: 0.2s ease-in 0ms;
  }
  #navbar a:hover {
    background-color: var(--main);
    border-radius: 5px;
    color: var(--secondary2);
    box-shadow: 0 0 10px 0 var(--main);
  }
  #navbar a:active {
    transform: scale(0.9);
    box-shadow: 0 0 10px 5px var(--main);
    transition: 0.2s ease-in 0ms;
  }
  
  #projects div {
    padding-top: 0px;
  }
  #projects-wrapper {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-tile {
    margin: 10px;
    max-width: 500px;
    max-height: 400px;
    width: 30vw;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
    transition:cubic-bezier(1, 0, 0, 1) 0.2s 0ms;
  }

 .project-tile:hover {
    box-shadow: 0 0 5px 1px black;
    transform: scale(1.05);
    transition:cubic-bezier(1, 0, 0, 1) 0.2s 0ms;
    cursor: pointer;
 }
 #projects-more-link {
    padding: 20px;
    transition: 0.2s ease-in 0ms;
 }
 #projects-more-link:hover {
    background-color: var(--main);
    border-radius: 5px;
    color: var(--secondary2);
    box-shadow: 0 0 10px 0 var(--main);
 }
 #projects-more-link:active {
    transform: scale(0.9);
    box-shadow: 0 0 10px 5px var(--main);
    transition: 0.2s ease-in 0ms;
 }
 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px
 }


  @media (max-width: 720px) {
    #navbar a {
    padding: 10px;
    }
  }